extends ../layout 


block content 
    .container
        h1 #{title}
        ul.errors
            if errors
                each error, i in errors
                    li.alert.alert-danger #{error.msg}
        form(method='post', action='/articles/add')
            .form-group
                label Title:
                input.form-control(name='title', type= 'text')
            .form-group
                label Subtitle:
                input.form-control(name='subtitle')
            .form-group
                label Category
                select.form-control(name='category_id')
                    each category, i in categories
                        option(value=category._id) #{category.title}
            .form-group
                label Author:
                input.form-control(name='author')
            .form-group
                label Content:
                textarea.form-control(name='body')
            br
            input(class='btn btn-primary form-control' type='submit', name='submit', value='Add')
            hr
            a(class='btn btn-danger form-control' href='/manage/categories') Back